@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  src: local('Sorts Mill Goudy Regular'),
  local('SortsMillGoudy-Regular'),
  url(/theme/css/fonts/GoudyStM-webfont.woff),
  url(/theme/css/fonts/GoudyStM-webfonts.eot),
  url(/theme/css/fonts/GoudyStM-webfonts.svg),
  url(/theme/css/fonts/GoudyStM-Italic-webfonts.woff),
  url(/theme/css/fonts/GoudyStM-Italic-webfonts.eot),
  url(/theme/css/fonts/GoudyStM-Italic-webfonts.svg);
}
